/*
Theme Name:     GrandWay Child Theme
Theme URI:
Description:    Child Theme of GrandWay Theme
Author:
Author URI:
Template:       grandway
Version:        0.0.1
Text Domain: primary
Domain Path: /lang
Tags: animations, business, clean, corporate, creative, elegant, minimal, modern, multi-purpose, parallax, portfolio, professional, responsive, retina, white
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/
