/*studentnavbar.css*/
.sidebar {
    color: black;
    display: inline-block;
    width: 200px;

    padding: 36px;
    background-color: #F1B824;
    font-family: 'DM Sans';

    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin-top: 94px;
}

.sidebar-space {
    width: 200px;
    padding: 36px;
    overflow-x: hidden;
    flex: 0 0 200px;
}

.sidebar .row a {
    text-decoration: none;
    color: black;
    line-height: 1.2;
    padding: 10px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.sidebar #user {
    margin-bottom: 40px;
    font-size: 2em;
    font-weight: bold;
}

.adminRow a {
    opacity: 1 !important;
}

.selected {
    border: 2px solid black;
    border-radius: 10px;
}

.selected a {
}

.back-arrow a {
    padding: 0;
}

.material-icons.md-48 {
    font-size: 40px;
}

.material-icons.md-24 {
    font-size: 30px;
}


.navbar-toggler {
    border: none;
}

.hamburger-icon {
    color: black;
}

.sidebar .greyed a {
    color: gray;
    pointer-events: none;
    cursor: default;
}

.desktop-nav-container {
    height: 100%;
    /*padding-top: 50px;*/
}

.desktop-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#logout {
    padding-bottom: 0;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        padding: 0;
        margin: auto;
        position: static;
    }

    .sidebar a {
        font-size: 30px;
        font-weight: bold;
    }

    .navbar-brand {
        padding: 0;
        font-size: 25px;
    }

    .navbar-brand {
        font-size: 100px;
    }

    .navbar-header {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-nav {
        border-top: 2px solid black;
        padding-top: 10px;
    }

    .selected {
        border: none;
        text-decoration: underline;
    }

    .row {
        padding-left: 25px;
    }

    .row a {
        font-size: 20px;
    }

    .mobile-logo {
        width: 40%;
    }
    .mobile-logo img {
        width: 100%;
    }

}

h3 {
    /*margin-top: 30px;*/
    margin-top: 10px;
}

label {
    cursor: pointer;
}

.full-line {
    width: 100%;
}

.margin-below {
    margin-bottom: 15px;
}

.customRow {
    display: flex;
    flex-wrap: wrap;
}

.name-row input {
    width: 100%;
}

.first-name {
    width: 37%;
    margin-right: 2%;
    max-width: 200px;
    /*width: 40%;*/
    /*margin-right: 2%;*/
    /*max-width: 200px;*/
}

.middle-name {
    width: 22%;
    margin-right: 2%;
    max-width: 250px;
    /*width: 15%;*/
    /*margin-right: 2%;*/
    /*max-width: 250px;*/
}

.last-name {
    width: 37%;
    max-width: 200px;
    /*width: 41%;*/
    /*max-width: 200px;*/
}

#ethnicity {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 500px;
}

.ethnicity-entry {
    /*width: 30%;*/
    width: 100%;
}

.ethnicity-entry input {
    margin-right: 8px;
}

#experience-level {
    margin-bottom: 10px;
}

input[type=radio] {
    margin-right: 5px;
}

input[type=radio] span {
    margin-right: 15px;
}

.radio-row {
    font-size: 15px;
}

.submitRow button {
    margin-left: 15px;
}

/*@media (max-width: 768px) {*/
/*    .ethnicity-entry {*/
/*    }*/
/*}*/

.main {
    padding-left: 20%;
}

.required::after {
    content: "*";
    color: #ff0000;
}

textarea {
    width: 100%;
    max-width: 500px;
}

@media (max-width: 768px) {
    .first-name {
        width: 60%;
        margin-right: 5%;
    }

    .middle-name {
        width: 35%;
        margin-right: 0;
    }

    .last-name {
        width: 100%;
        margin: 0;
    }

    .preferred-name {
        width: 100%;
    }

    .preferred-name input[type=text]{
        width: 100%;
    }
}

/*Campregistration.css*/

.username {
    font-weight: normal;
    margin-bottom: 30px;
}

.filter {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown {
    margin-right: 30px;
}

#filter-mobile {
    font-weight: bold;
    background-color: #F1B824;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.modal-title {
    font-size: 30px;
}

#filter-mobile h3 {
    padding: 0;
    margin: 0;
}

.filter-segment {
    margin-bottom: 10px;
}

.filter-segment-header {
    display: flex;
    align-items: center;
}

.filter-segment h5 {
    padding: 0;
    margin: 0;
}

.filter-segment-content {
    padding-left: 20px;
    padding-top: 5px;
}

.filter-segment-entry {
    display: flex;
    align-items: center;
    padding: 3px;
    max-width: 300px;
}

.filter-segment-header {
    cursor: pointer;
}

.filter-segment-entry:hover {
    cursor: pointer;
}

.filter-entry-checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid #464646;
    border-radius: 2px;
    margin-right: 5px;
}

.filter-checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid #464646;
    border-radius: 2px;
    margin-right: 8px;
}






.topic {
    margin-top: 50px;
    width: 100%;
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
}

.topic-name {
    display: flex;
    justify-content: space-between;
}

.topic h5 {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.class-header {
    margin-top: 30px;
    padding: 7px;
    border-bottom: 1px solid black;
    font-weight: bold;
    display: flex;
}

.class-entry {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    padding: 7px;
    display: flex;
}

.class-entry:hover {
    background-color: #cfcfcf;
    border-radius: 2px;
}

.applied {
    opacity: 0.5;
    cursor: default;
}

.checkbox-space {
    width: 3%;
    min-width: 20px;
    display: flex;
    align-items: center;
}

.class-checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid #464646;
    border-radius: 2px;
}

.active-checkbox {
    background-color: #F1B824;
    border: none;
}


.camp-name {
    width: 15%;
}

.recommended-grade {
    width: 13%;
}

.online {
    width: 7%;
}

.date {
    width: 15%;
}

.days {
    width: 7%;
}

.time {
    width: 20%;
}

.capacity {
    width: 13%;
}

.cost {
    width: 10%;
}

.dropdown-initial {
    /*background-color: #EEEEEE;*/
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.checkbox {
    padding: 3px;
    padding-top: 7px;
}

.dropdown-toggle {
    background-color: #f7f7f7;
}

.dropdown-menu {
    border: none;
    border-top-right-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.submitRow {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

#confirmation-modal-dialog {
    max-width: 1500px;
}

.modal-dialog {
    max-width: 600px;
}

.modal-content {
    padding: 5%;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

.confirm-header, .confirm-contents {
    width: 100%;
    display: flex;
}

.confirm-header {
    font-weight: bold;
}

.confirm-course {
    width: 25%;
}


.confirm-grade {
    width: 35%;
}

.confirm-date {
    width: 40%;
}


.button-row {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.submit-button {
    width: 100px;
}

.margin-below {
    margin-bottom: 15px;
}
.selected-box {
    background-color: #FFF0C8;
}

@media (max-width: 576px) {
    .username {
        display: none;
    }

    .topic {
        padding: 20px;
    }

    .topic-contents {
        width: 100%;
        flex-wrap: wrap;
    }

    .class-entry {
        flex-wrap: wrap;
        padding: 10px;
        border-top: 1px solid black;
        margin-top: 5px;
    }

    .class-entry:hover {
        background-color: inherit;
    }

    .class-entry-description {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .small-header {
        font-weight: bold;
        padding: 2px;
    }

    .checkbox-space {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

/*Scholarship.css*/

label {
    padding: 2px;
    margin: 0;
}
.margin-below {
    margin-bottom: 20px;
}

.full-line {
    width: 100%;
}

#skip-box {
    background: rgba(196, 196, 196, 0.6);
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    padding-left: 30px;
}
.skip {
    margin: 5px;
}
.apply{
    margin: 5px;
}
.bold {
    font-weight: bold;
}

.question-item {
    margin-bottom: 20px;
}

.customRow {
    display: flex;
    flex-wrap: wrap;
}

/*mycamps.css*/

/*body {*/
/*    font-family: 'DM Sans', sans-serif;*/
/*}*/

h1 {
    size: 40px;
    font-weight: bold;
}

h2 {
    size: 32px;
}

h3 {
    margin-bottom: 10px;
}

#checklist {
    border: black 1px solid;
    border-radius: 10px;
    width: 100%;
    max-width: 430px;
    padding: 16px;
}

#navbar {
    color: grey;
}

.section {
    margin-bottom: 40px;
}

.popup {
    padding: 20px;
}

.main {
    margin-left: 300px;
}

.checklist-item {
    position: relative;
}

.checklist-item a {
    margin-left: 20px;
    color: black;
}

.checklist-item.unclickable a {
    margin-left: 20px;
    pointer-events: none;
    cursor: default;
    color: grey;
}

.withdraw-table tr {
    line-height: 30px;
}

.withdraw-table th {
    text-align: right;
    padding-right: 10px;
}

/*!*general.css*!*/

/*body {*/
/*    display: flex;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    background-color: #fafafa;*/
/*}*/

/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*#page {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    margin-top: 94px;*/
/*}*/

/*#main {*/
/*    padding: 50px;*/
/*    width: 100%;*/
/*}*/

/*a:link, a:visited {*/
/*    text-decoration: none;*/
/*}*/

/*@media (max-width: 768px) {*/
/*    #page {*/
/*        display: block;*/
/*    }*/
/*    #main {*/
/*        padding: 25px;*/
/*    }*/
/*}*/

/*input[type=text] {*/
/*    border: none;*/
/*    background-color: #ededed;*/
/*    padding: 5px;*/
/*    padding-left: 8px;*/
/*}*/

/*.submit-row {*/
/*    margin-top: 30px;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    !*justify-content: flex-end;*!*/
/*}*/

/*.submit-row button {*/
/*    !*margin-left: 20px;*!*/
/*}*/

/*.divider {*/
/*    border: 0;*/
/*    clear:both;*/
/*    display:block;*/
/*    width: 100%;*/
/*    background-color:rgba(0,0,0,.1);*/
/*    height: 1px;*/
/*    margin: 30px auto 30px auto;*/
/*}*/

/*.center-vertical {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.header {*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    z-index: 5;*/
/*    border: 0px;*/
/*    height: 94px;*/
/*    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);*/
/*    border: 0px;*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .header {*/
/*        display: none;*/
/*    }*/
/*    #page {*/
/*        margin-top: 0px;*/
/*    }*/
/*}*/

/*medicalform.css*/

/*form {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

label {
    padding: 0;
    margin: 0;
    margin-bottom: 1px;
}

.full-line {
    width: 100%;
}

.half-line {
    width: 50%;
}

.third-line {
    width: 33%;
}

.d_flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.smargin-below {
    margin-bottom: 10px;
}

.margin-below {
    margin-bottom: 20px;
}

input[type=text].half-line {
    width: 40%;
    margin-right: 5px;
}

input[type=text].third-line {
    width: 29%;
    margin-right: 3%;
}

.name-inner {
    max-width: 250px;
    margin-right: 20px;
}

.required::after {
    content: "*";
    color: #ff0000;
}

.customRow {
    display: flex;
    flex-wrap: wrap;
}

.message-popup {
    width: 100%;
    max-width: 500px;
}

.error-message {
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.25);
    padding: 40px;
    display: inline-block;
}

.message-text-error {
    width: 100%;

}

.med-input {
    margin-bottom: 5px;}
@media (max-width: 768px) {
    .m-full-line {
        width: 100%;
    }

    .name-inner {
        width: 100%;
    }
}