.username {
	font-weight: normal;
	margin-bottom: 30px;
}

.filter {
	width: 50%;
	display: flex;
}

.dropdown {
	margin-right: 30px;
}

#filter-mobile {
	font-weight: bold;
	background-color: #F1B824;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	width: 100%;
	text-align: left;
}

.modal-title {
	font-size: 30px;
}

#filter-mobile h3 {
	padding: 0;
	margin: 0;
}

.filter-segment {
	margin-bottom: 10px;
}

.filter-segment-header {
	display: flex;
	align-items: center;
}

.filter-segment h5 {
	padding: 0;
	margin: 0;
}

.filter-segment-content {
	padding-left: 20px;
	padding-top: 5px;
}

.filter-segment-entry {
	display: flex;
	align-items: center;
	padding: 3px;
	max-width: 300px;
}

.filter-segment-header {
	cursor: pointer;
}

.filter-segment-entry:hover {
	cursor: pointer;
}

.filter-entry-checkbox {
	width: 15px;
	height: 15px;
	border: 1px solid #464646;
	border-radius: 2px;
	margin-right: 5px;
}

.filter-checkbox {
	width: 15px;
	height: 15px;
	border: 1px solid #464646;
	border-radius: 2px;
	margin-right: 8px;
}






.topic {
	margin-top: 50px;
	width: 100%;
	background-color: #F1F1F1;
	border-radius: 10px;
	padding: 30px;
	cursor: pointer;
}

.topic-name {
	display: flex;
	justify-content: space-between;
}

.topic h5 {
	padding: 0;
	margin: 0;
	font-weight: bold;
}

.class-header {
	margin-top: 30px;
	padding: 7px;
	border-bottom: 1px solid black;
	font-weight: bold;
	display: flex;
}

.class-entry {
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
	padding: 7px;
	display: flex;
}

.class-entry:hover {
	background-color: #cfcfcf;
	border-radius: 2px;
}

.applied {
	opacity: 0.5;
	cursor: default;
}

.checkbox-space {
	width: 3%;
	min-width: 20px;
	display: flex;
	align-items: center;
}

.class-checkbox {
	width: 15px;
	height: 15px;
	border: 1px solid #464646;
	border-radius: 2px;
}

.active-checkbox {
	background-color: #F1B824;
	border: none;
}

.camp-name {
	width: 15%;
}

.recommended-grade {
	width: 13%;
}

.online {
	width: 7%;
}

.date {
	width: 15%;
}

.days {
	width: 7%;
}

.time {
	width: 20%;
}

.capacity {
	width: 13%;
}

.cost {
	width: 10%;
}

.dropdown-initial {
	/*background-color: #EEEEEE;*/
	width: 160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
}

.checkbox {
	padding: 3px;
	padding-top: 7px;
}

.dropdown-toggle {
	background-color: #f7f7f7;
}

.dropdown-menu {
	border: none;
	border-top-right-radius: 0;
	border-top-right-radius: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.submitRow {
	display: flex;
	justify-content: flex-end;
	padding-top: 30px;
}

#confirmation-modal-dialog {
	max-width: 1500px;
}

.modal-dialog {
	max-width: 600px;
}

.modal-content {
	padding: 5%;
}

.modal-header {
	border: none;
}

.modal-footer {
	border: none;
}

.confirm-header, .confirm-contents {
	width: 100%;
	display: flex;
}

.confirm-header {
	font-weight: bold;
}

.confirm-course {
	width: 25%;
}


.confirm-grade {
	width: 35%;
}

.confirm-date {
	width: 40%;
}


.button-row {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

.submit-button {
	width: 100px;
}

.margin-below {
	margin-bottom: 15px;
}
.selected-box {
	background-color: #FFF0C8;
}

@media (max-width: 576px) {
	.username {
		display: none;
	}

	.topic {
		padding: 20px;
	}

	.topic-contents {
		width: 100%;
		flex-wrap: wrap;
	}

	.class-entry {
		flex-wrap: wrap;
		padding: 10px;
		border-top: 1px solid black;
		margin-top: 5px;
	}

	.class-entry:hover {
		background-color: inherit;
	}

	.class-entry-description {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	.small-header {
		font-weight: bold;
		padding: 2px;
	}

	.checkbox-space {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}

